@import "colors.css";

/* ========================================================
   ESTILOS DE WAYBAR
   Hecho por: Morta
   ======================================================== */

/* --- Fuente --- */
* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

/* --- Ajustes waybar --- */
window#waybar {
    background-color: @fondo;
    color: @texto-principal;
    border-radius: 9999px;
    border: 1px solid @borde-suave;
    margin: 4px 10px 0px 10px;
}

/* --- Botón menú --- */
#custom-arch {
    background-color: @modulo-fondo;
    border: 1px solid @borde-suave;
    border-radius: 9999px;
    color: @acento-principal;
    font-size: 11px;
    margin: 2px 3px 2px 8px;
    padding: 0 8px;
}

/* --- Solo workspaces --- */
#workspaces {
    background-color: @modulo-fondo-tenue;
    border: 1px solid @borde-tenue;
    border-radius: 9999px;
    margin: 2px 3px;
    padding: 1px 3px;
}

#workspaces button {
    background-color: transparent;
    border: none;
    border-radius: 9999px;
    color: @texto-secundario;
    margin: 0 1px;
    padding: 0 6px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: @modulo-hover;
    color: #ffffff;
}

#workspaces button.active {
    background-color: @acento-principal;
    color: @texto-acento;
}

#workspaces button.urgent {
    background-color: @urgente;
    color: @texto-acento;
}

/* --- Estilos generales de módulos --- */
#clock,
#tray,
#memory,
#cpu,
#pulseaudio,
#bluetooth,
#network,
#custom-power {
    background-color: @modulo-fondo;
    border: 1px solid @borde-suave;
    border-radius: 9999px;
    color: @texto-principal;
    margin: 2px 3px;
    padding: 0 8px;
}

#custom-power {
    margin-right: 8px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgente;
}