/* ========================================================
   ESTILOS DE WAYBAR
   Hecho por: Morta
   ======================================================== */

/* --- Fuente --- */
* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* --- Ajustes waybar --- */
window#waybar {
    background-color: rgba(43, 43, 43, 0.994);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* --- Botón menú --- */
#custom-arch {
    background-color: rgba(44, 41, 47, 0.787);
    border: 1px solid #ffffff;
    border-radius: 100px;
    color: #ffffff;
    font-size: 12px;
    margin: 0px 3px;
    padding: 0 9px 0 9px;
}

/* --- Solo workspaces --- */
#workspaces {
    background-color: rgba(44, 41, 47, 0.787);
    border: 1px solid #ffffff;
    border-radius: 100px;
    margin: 0px 3px;
    padding: 0px 4px;
}

#workspaces button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100px;
    color: #ffffff;
    margin: 0px 2px;
    padding: 0 6px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #ffffff;
}

#workspaces button.active {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 100px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border: 1px solid #ffffff;
}

/* --- Estilos generales de módulos --- */
#clock,
#tray,
#memory,
#cpu,
#pulseaudio,
#bluetooth,
#network,
#custom-power {
    background-color: rgba(44, 41, 47, 0.787);
    border: 1px solid #ffffff;
    border-radius: 100px;
    color: #ffffff;
    margin: 0px 3px;
    padding: 0px 10px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
